.toggle {
    display: flex;
    flex-direction: row;
    width:70px;
    height:40px;
    background-color: #000;
    border-radius: 20px;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.toggle span {
    box-sizing: border-box;
    width: 38px;
    height: 38px;
    border-radius: 19px;
    background-color:lightgray;
}
.toggle.toggle-off{
    justify-content: flex-start;
}
.toggle.toggle-on{
    justify-content: flex-end;
}

.toggle.toggle-off span {
    background-color: lightcoral;
}

.toggle.toggle-on span {
    background-color:lightgreen;
}

.answers-query span{
    display:block;
}

.answers-query > span:first-child{
    margin-left: 20px;
}
.answers-query > span:nth-child(2),
.answers-query > span:nth-child(3) {
    margin-left: 30px;
}

.answers-list  > span:not(:first-child)::before {
    content: "AND "
}
.answers-list  > span:first-child::before {
    content: "WHERE "
}
