.toggle {
    display: flex;
    flex-direction: row;
    width:70px;
    height:40px;
    background-color: #000;
    border-radius: 20px;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.toggle span {
    box-sizing: border-box;
    width: 38px;
    height: 38px;
    border-radius: 19px;
    background-color:lightgray;
}
.toggle.toggle-off{
    justify-content: flex-start;
}
.toggle.toggle-on{
    justify-content: flex-end;
}

.toggle.toggle-off span {
    background-color: lightcoral;
}

.toggle.toggle-on span {
    background-color:lightgreen;
}
