.search-box input {
  color: yellow;
  width: 180px;
  margin-top: 10px;
}

.search-results{
  border-radius: 2px;
  color: yellow;
}

.user-results p{
  padding-left: 30px;
}

.user-results p:hover{
  background-color: rgb(32, 32, 32);
}
