/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Molengo&display=swap');

body {
    background-color: rgb(30,30,30);
    margin: 0;
    color: rgb(119,133,133);
    font-family: 'Source Code Pro', monospace;
}

.header {
    /* font-family: 'PT Sans', sans-serif; */
    font-family: 'Molengo', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 20px;
    text-align: center;
    z-index: 101;
    position: fixed;
    align-items: center;
    width: 100%;
    background-color: #3c3c3c;
    margin: 0;
    padding: 5px;
}

.content {
    position: relative;
    padding-left: 100px;
    padding-top: 35px;
}
