/* TODO Add site wide styles */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Molengo&display=swap");

body {
  background-color: #1e1e1e;
  margin: 0;
  color: #778585;
  font-family: "Source Code Pro", monospace;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}

.header {
  /* font-family: 'PT Sans', sans-serif; */
  font-family: "Molengo", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 20px;
  text-align: center;
  z-index: 101;
  position: fixed;
  align-items: center;
  width: 100%;
  background-color: #3c3c3c;
  margin: 0;
  padding: 5px;
}

.content {
  position: relative;
  padding-left: 100px;
  padding-top: 35px;
}

.content.open {
  padding-left: 300px;
}

.page-container h1 {
  font-family: "Source Code Pro", monospace;
  font-size: 25px;
  font-weight: 400;
  padding-left: 20px;
}

.profile {
  padding-left: 60px;
  display: flex;
  /* flex-direction: column; */
  /* font-size: 20px; */
}
.profile-details {
  border-left: 1px solid rgba(255, 255, 0, 0.2);
}
.prof-pic {
  padding-top: 20px;
  padding-right: 60px;
  /* display: flex;
  justify-content: center; */
}
#profile-picture {
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.7);
  width: 300px;
  border-radius: 50%;
}
.profile-list {
  list-style-type: none;
}
.profile-ul {
  border-left: 1px solid rgba(255, 255, 0, 0.2);
}
.purple {
  color: rgb(53, 129, 191);
}
.blue {
  color: rgb(0, 152, 247);
}
.yellow {
  color: rgb(255, 255, 0);
}
.green {
  color: rgba(244, 154, 250, 0.755);
}
.red {
  color: rgba(0, 255, 255, 0.838);
}
.orange {
  color: rgb(255, 204, 0);
}
