/* TODO Add site wide styles */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Molengo&display=swap");

body {
  background-color: #1e1e1e;
  margin: 0;
  color: #778585;
  font-family: "Source Code Pro", monospace;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}

.header {
  /* font-family: 'PT Sans', sans-serif; */
  font-family: "Molengo", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 20px;
  text-align: center;
  z-index: 101;
  position: fixed;
  align-items: center;
  width: 100%;
  background-color: #3c3c3c;
  margin: 0;
  padding: 5px;
}

.content {
  position: relative;
  padding-left: 100px;
  padding-top: 35px;
}

.content.open {
  padding-left: 300px;
}

.page-container h1 {
  font-family: "Source Code Pro", monospace;
  font-size: 25px;
  font-weight: 400;
  padding-left: 20px;
}

.profile {
  padding-left: 60px;
  display: flex;
}
.profile-details {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.prof-pic {
  padding-top: 20px;
  padding-right: 60px;
  position: relative;
  width: 300px;
  height: auto;

}
#profile-picture {
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.7);
  width: 90%;
  height: auto;
  border-radius: 50%;
  position:absolute;

}

.edit-button{
  position: absolute;
  height: auto;
  top: 60%;
  width: 90%;
  box-sizing: border-box;
  padding-bottom: 30px;
  padding-top: 10px;
  background-color: hsla(0, 0%, 12%, 0);
  font-size: 20px;
  text-align: center;
}

.edit-button:hover{
  background-color: hsla(0, 0%, 12%, 0.719);

}
.edit-button a {
  box-sizing: border-box;
  padding: 10px 65px;
  text-decoration: none;
  color:  hsla(0, 5%, 76%, 0);
  height: 100%;
  width: 300px;
}

.edit-button a:hover{
  color:  hsla(0, 5%, 76%, 0.815);
}

.profile-list {
  list-style-type: none;
}
.profile-ul {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.const-color {
  color: steelblue;
}
.prof-name-color {
  color: cornflowerblue;
}
.brackets-color {
  color: rgb(255, 255, 0);
}
.values-color {
  color: rgba(223, 145, 221, 0.858);
}
.keys-color {
  color: skyblue;
}
.booleans-color {
  color: rgba(165, 247, 124, 0.742);
}
