.page-container {
    display: block;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    width:100%;
    padding-top: 15px;
}

@-webkit-keyframes borderBlink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: #fff
    }
}
@keyframes borderBlink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: #fff
    }
}
.loginform div, .signupform div {
    margin-left: 15px;
}

.profile-form {
    padding-left: 15px;
}

.profile-details {
    padding-left: 15px;
}

.profile-details > ul {
    list-style: none;
}

.profile-details > ul > li::after {
    content: ",";
}

.profile-details > div {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 5px;
}
.profile-details > div.wide {
    box-sizing: border-box;
    flex-direction: column;
    width: 100%
}

.profile-details > div.wide > div {
    padding-left: 15px;
    width: 100%;
    
}

.profile-details > div.wide > div.quoted {
    align-items: flex-start;
    display: flex;
}

.profile-details > div.wide > div.quoted textarea {
    height: 150px;
    max-width: 500px;
    width: 90%;
}

.loginform input, .signupform input, .profile-form input {
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    background-color: #1e1e1e;
    color: rgb(206,145,120);
    border: none;
    border-left: 2px solid white;
    -webkit-animation: borderBlink 1s step-end infinite;
    animation: borderBlink 1s step-end infinite;
}

.loginform input::placeholder,
.signupform input::placeholder,
.profile-form input::placeholder {
    color: #bb86c0;
}

.loginform label {
    color: #dcb862;
}

.signupform label, .profile-form label {
    color: rgb(123,220,254);
}

.loginform label::before {
    content: 'const ';
    color: #2566ca;
}
.signupform label {
    margin-left: 20px;
}

.loginform label::after {
    content: ' = ';
    color: white;
}
.signupform label::after,
.profile-form label::after {
    content: ' : ';
    color: white;
}

.quoted::after,.quoted::before{
    content: '"';
    color: rgb(206,145,120);
}

.quoted input {
    border: none;
}

.loginform button, .signupform button, .profile-form button {
    width: 100%;
    background-color: #1e1e1e;
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    color: #ccc;
    text-align: left;
    border:none;
    border-top: 1px solid #ccc;
    margin-top: 15px;
}

.loginform button:hover,
.signupform button:hover,
.profile-form button:hover {
    color: #fff
}
.errorsLog div {
    color: #f14c4c;
}
.errorsLog div::before {
    content: "!> ";
}
