.loginform {
    padding: 10px;
    border: 2px solid;
    box-sizing: border-box;
    width: 100%;
    margin-top: 5px;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
