.loginform {
    padding: 10px;
    border: 2px solid;
    box-sizing: border-box;
    width: 100%;
    margin-top: 5px;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}


.quoted::after,.quoted::before{
    content: '"';
    color: yellow;
}

.login-form label{
    color: yellow;
}

.signupform label::before {
    content: 'const ';
    color: rgb(22, 22, 160);
}

.signupform label::after {
    content: ' = ';
    color: white;
}
