.signupform {
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 4px;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

form div, label, button {
    color: yellow;
    font-size: 20px;
}

input{
    border: none;
    color: white;
    font-family: monospace;
    font-size: 20px;
}

.form-sections{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button {
    text-align: left;
    padding: 5px 0px 0px 0px;
    border: none;
    cursor: pointer;
}

.quoted::after{
    content: '" "'
}
