.signupform {
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 4px;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.signupform form div, .signupform label, .signupform button {
    color: yellow;
    font-size: 20px;
}

.signupform input{
    border: none;
    color: white;
    font-family: monospace;
    font-size: 20px;
    min-width:50px;
}

.signupform .form-sections{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.signupform button {
    text-align: left;
    padding: 5px 0px 0px 0px;
    border: none;
    cursor: pointer;
}

.quoted::after,.quoted::before{
    content: '"';
    color: yellow;
}

.signupform label::before {
    content: 'const ';
    color: rgb(22, 22, 160);
}

.signupform label::after {
    content: ' = ';
    color: white;
}
